<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/style.css">

</head>

<body>
  <br>
  <div class="name" style ="font-size:400; color:red;" ><h3> Welcome to still_open?</h3> </div>
  <br>
  <br>
<div class="biz">
  <%@all_open.each do |biz| %>
<!-- <td> -->
<div class="card">
  <h1 style="text-align:center;" ><strong><a href="<%=biz.url%>"><%=biz.name%></a></strong></h1>  
  <div class="map"><img src=<%=biz.image%>></div>
  <h2>Rating: <%=biz.name%></h2>
  <h2>Hours: <%=biz.hours.first%></h2>
  <h2>Address: <%=biz.address%></h2>
  <h2>Link to Yelp </h2>
</div>
  <%end%>
</div>
<div class = "anim">

this is a test
  </class
</body>

</html>
