<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/style.css">

</head>

<body>
  <br>
  <div class="name" style ="font-size:400; color:red;" ><h3> Welcome to still_open?</h3> </div>
  <br>
  <br>
<div class="biz">
  <%@all_open.each do |biz| %>
<!-- <td> -->
<div class="card">
  <h1 style="text-align:center;" ><strong><a href="<%=biz.url%>"><%=biz.name%></a></strong></h1>  
  <div class="map"><img src=<%=biz.image%>></div>
  <h2>Distance: <%= biz.distance %> mile(s)</h2>
  <h2>Rating: <%=biz.rating %></h2>
  <h2>Category: <%=biz.categories.first %></h2>
  <h2>Hours: <%=biz.hours.first%></h2>
  <h2>Address: <a href="https://www.google.com/maps/place/<%=biz.name%>"><%=biz.address%></a></h2>
</div>
  <%end%>
</body>

</html>
